* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

button:focus {
    outline: none;
}


img {
    display: block;
    min-width: 100%;
    height: auto;
  }